<footer id="site-footer" class="footer">

  {% include scripts.html %}

  <hr class="mb-0" style="border: 1px solid #941728; opacity: 1;">
  <hr style="border: 3px solid #941728; margin:0.2em 0em 0.6em; opacity: 1;">

  <div>
    <div class="row pt-3" id="footer-content">

      <div class="col-md-3 col-6">
      </div>

      <div class="col-md-3 col-6 d-none d-sm-block">
      </div>

      <div class="col-md-3 col-6 d-none d-sm-block align-right">
        <h2 class="footer-header">Policies</h2>

      </div>

      <div class="col-md-3 col-6 d-none d-sm-block align-right">
        <h2 class="footer-header">Follow Us</h2>
        <ul>
          {% include social-links.md %}
        </ul>

      </div>
    </div>

  </div>
  <div class="container-fluid bg-primary text-white">
    <div class="container justify-content-center">
      Adobe XD

    </div>
  </div>
</footer>