---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

// Base styles (To override Bootstrap)
$primary: #be2239;
$primary-hover: #811726;
$primary-disabled: #ed8f9c;

$success: #61a51d;
$success-hover: #467320;
$success-disabled: #6ecb83;

$info: #0f89bf;
$info-hover: #0f5473;
$info-disabled: #5cb3d9;

$warning: #ed8a26;
$warning-hover: #ba6c1e;
$warning-disabled: #f2b67b;

// @import '../../node_modules/rfs/';
@import '../node_modules/bootstrap/scss/bootstrap';
