---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";

// Base styles (To override Bootstrap)
$primary:       #BE2239;
$primary-hover: #811726;
$primary-disabled: #ED8F9C;

$success:       #61A51D;
$success-hover: #467320;
$success-disabled: #6ECB83;

$info:          #0F89BF;
$info-hover:    #0F5473;
$info-disabled: #5CB3D9;

$warning:       #ED8A26;
$warning-hover: #BA6C1E;
$warning-disabled: #F2B67B;

@import "../node_modules/rfs/scss";
@import "../node_modules/bootstrap/scss/bootstrap";
